
body{
  font-size: 30px;
  background-image: url("../img/piggy.jpeg");
  background-size: 100% 100vh;
}
p {
  color: darkgreen;
}
h2 {
  font-size: 30px;
}
.jumbotron {
  text-align: center;
  color: lightgreen;
  background-color: darkgreen;
  border: 10px double lightgreen;
  margin-bottom: 0;
}
.btn {
  font-size: 30px;
  display: block;
  background-color: darkgreen;
  color: lightgreen;
}
form {
  margin-left: 45%;
  margin-bottom: 2%;
}
.optionPlayer {
  margin-left: 0%;
  color: #006600;
}
#choice {
  background-color: rgba(0, 255, 0, 0.45 );
}
.col-md-6 {
  text-align: center;
}

.well {
  background-color: rgba(255, 255, 255, 0.45 );
}

h3 {
  font-size: 30px;
}

#player1 {
  color: blue;
}

#player2 {
  color: red;
}

#output {
  color: purple;
  text-align: center;
}
#myPopup {
  color: blue;
  background-color: orange;
  border: 3px solid darkblue;
  position: absolute;
  text-align: center;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 260px;
    height: 160px;
    background-color: #555;
    color: #fff;
    /*text-align: center;*/
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 100%;
    margin-left: 50%;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
